body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.center{
  text-align: center;
}
ul{
  list-style: none;
  align-items:center;
}
.well{
  background: red;
}
.mimi{
  border-color: blue;
  border-radius: 2px;
}
.head{
  font-family: 'Sacramento', cursive;
}
