<h2>Welcome to my message board</h2>
<ul>
  {{#each model as |message|}}
    {{message-tile message=message destroyMessage="destroyMessage"}}
  {{/each}}

  {{new-message saveMessagee2 = "saveMessage3"}}
</ul>
