<div class="center">
<h2>Welcome to my message board</h2>
<ul>
  {{#each model as |message|}}
    {{message-tile message=message}}
  {{/each}}
</ul>
<div class="col-md-12">
<hr/>
{{new-message saveMessage2 = "saveMessage3"}}

</div>
<div class="col-md-12">
<h3>All of the answers</h3>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} by {{answer.name}} </li>
  {{/each}}

</ul>
</div>
<hr/>

</div>
